# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#!pip install gmaps

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv('../output_data/cities.csv', index_col = False).dropna()
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.6000,168.3333,49.80,84,71,9.57,NZ,1633810712
1,Sheridan,44.8333,-106.9173,51.98,89,90,5.99,US,1633810712
2,Sioux Lookout,50.1001,-91.9170,64.78,82,75,5.75,CA,1633810712
3,Cape Town,-33.9258,18.4232,61.12,62,0,10.36,ZA,1633810624
4,Albany,42.6001,-73.9662,65.68,69,100,3.00,US,1633810457
5,Ushuaia,-54.8000,-68.3000,51.46,66,40,6.91,AR,1633810637
6,New Norfolk,-42.7826,147.0587,45.90,64,66,1.99,AU,1633810437
7,Puerto Cabezas,14.0351,-83.3888,87.76,70,75,6.91,NI,1633810713
8,Comodoro Rivadavia,-45.8667,-67.5000,69.66,37,0,13.80,AR,1633810713
9,Petropavlovka,50.6114,105.3196,32.22,63,10,4.00,RU,1633810713
10,Vila Velha,-20.3297,-40.2925,69.75,83,75,2.30,BR,1633810714
11,Aklavik,68.2191,-135.0107,29.50,86,92,7.09,CA,1633810488
12,Maniitsoq,65.4167,-52.9000,34.18,57,100,14.99,GL,1633810716
13,Constitución,-35.3333,-72.4167,58.19,74,28,7.36,CL,1633810716
15,Arcata,40.8665,-124.0828,67.19,63,1,1.01,US,1633810717
16,Kununurra,-15.7667,128.7333,75.18,69,23,3.44,AU,1633810717
17,Qaanaaq,77.4840,-69.3632,28.38,82,100,14.92,GL,1633810717
18,Parkes,-33.1333,148.1833,61.36,73,46,0.96,AU,1633810718
19,Rikitea,-23.1203,-134.9692,74.05,82,100,18.12,PF,1633810430
20,Saint-Philippe,-21.3585,55.7679,71.19,85,43,15.05,RE,1633810719
21,San Andrés,12.5847,-81.7006,84.22,89,40,8.05,CO,1633810430
22,Ilulissat,69.2167,-51.1000,30.22,47,20,6.91,GL,1633810719
23,Broome,42.2506,-75.8330,68.02,64,90,1.99,US,1633810443
24,Camopi,3.1655,-52.3158,89.17,51,100,3.74,GF,1633810719
25,Port Blair,11.6667,92.7500,79.16,85,100,18.01,IN,1633810720
26,Naze,28.3667,129.4833,76.80,75,30,20.00,JP,1633810720
27,Port Alfred,-33.5906,26.8910,61.59,70,3,19.17,ZA,1633810177
28,Geraldton,-28.7667,114.6000,45.01,87,0,4.61,AU,1633810720
29,Liuzhou,24.3126,109.3892,70.50,91,100,15.10,CN,1633810721
30,Gisborne,-38.6533,178.0042,56.95,82,61,9.55,NZ,1633810721
31,Vaini,-21.2000,-175.2000,77.16,83,20,3.44,TO,1633810431
32,Leningradskiy,69.3833,178.4167,15.66,95,99,4.50,RU,1633810721
33,Staryy Nadym,65.6118,72.6842,26.89,79,15,13.09,RU,1633810722
34,Kalmunai,7.4167,81.8167,80.78,72,100,4.27,LK,1633810722
35,Biak,-0.9131,122.8766,75.31,79,84,5.03,ID,1633810724
36,Vega de Alatorre,20.0333,-96.6333,83.98,72,42,9.60,MX,1633810725
37,Avarua,-21.2078,-159.7750,77.05,65,20,8.05,CK,1633810725
38,Kupang,-10.1667,123.5833,76.10,82,49,4.23,ID,1633810725
39,Castro,-24.7911,-50.0119,56.50,99,100,6.22,BR,1633810725
40,Mar del Plata,-38.0023,-57.5575,55.42,66,0,17.00,AR,1633810429
41,Pevek,69.7008,170.3133,24.06,95,100,2.98,RU,1633810726

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = cities_df[["Lat", "Lng"]]
weight = cities_df["Humidity"]

In [6]:
fig = gmaps.figure(center=(22.0, -1.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights = weight, 
                                 dissipating=False, max_intensity=np.max(weight),
                                 point_radius=3)
fig.add_layer(heat_layer)
#max_intensity=np.max(weight)
#max_intensity=300
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
cities_new_df = cities_df.dropna()
cities_new_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.6000,168.3333,49.80,84,71,9.57,NZ,1633810712
1,Sheridan,44.8333,-106.9173,51.98,89,90,5.99,US,1633810712
2,Sioux Lookout,50.1001,-91.9170,64.78,82,75,5.75,CA,1633810712
3,Cape Town,-33.9258,18.4232,61.12,62,0,10.36,ZA,1633810624
4,Albany,42.6001,-73.9662,65.68,69,100,3.00,US,1633810457

In [8]:
filtered_cities = cities_new_df.loc[(cities_new_df["Max Temp"] <= 80) & 
                                    (cities_new_df["Max Temp"] >= 70) & 
                                    (cities_new_df["Wind Speed"] < 10) &  
                                    (cities_new_df["Cloudiness"] == 0)]
                                
filtered_cities

Empty DataFrame
Columns: [City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = pd.DataFrame(filtered_cities)
hotel_df["Hotel Name"] = ""

In [10]:
target_search = "hotels"

target_radius = 5000
target_type = "Business"

params = {
    "keyword": target_search,
    "radius":target_radius,
    "type":target_type,
    "key" : g_key
}
    
for index, row in hotel_df.iterrows():

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    
    hotel_info = requests.get(base_url, params=params)
    hotel_info = hotel_info.json()
    
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_info["results"][0]["name"]
        hotel_df.loc[index, "Hotel Address"] = hotel_info["results"][0]["vicinity"]
        hotel_df.loc[index, "Hotel Rating"] = hotel_info["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [11]:
hotel_df

Empty DataFrame
Columns: [City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date, Hotel Name]
Index: []

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
markers = gmaps.marker_layer(locations,
    info_box_content= hotel_info)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))